body{
  font-weight: bold;
  margin:0;
  padding:0;
  text-align:center;  
  text-decoration:none;
}
h1{
  font-family: sacramento;
  font-size : 8rem;
  color: #66BFBF;
  padding-top: 8rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 1.5rem;
}

h3,h2{
  color: #66BFBF;
 
  
}
hr{  
  border: dotted  #e4e4e4 10px;
  border-bottom: none;
  width: 9%;
  
}
.button{
  margin-top: 3rem;
  margin-bottom: 3 rem;
  border-radius: 13px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #EAF6F6;
  background-color: #11999E;
  border: none;
  text-decoration: none;
  padding: 10px;
}


.header{
  background-color: #EAF6F6;
  margin: 0;
}

.first{
 position: absolute;
  right: 15%;
  top: 5%;
}
.sec{
  position: absolute;
  left: 5%;
  top: 20rem;
}
.mountain{
  margin: 0 auto 0 auto;
  display: block;
  width: 50%;
}
.self-img{
  width: 25%;
}
.first_container{
  margin: 5rem auto 5rem auto;
  width :50%;
}
.middle_container{
  margin: 5rem auto 5rem auto;
  /*padding: 0 10px 5px 10px;*/
  width: 50%;
  
}
.skill_row1{
  text-align: left;
 line-height: 2;
 color: #3f3f44;
 font-weight: bold;

}
.skill_row2{
  margin-top:  8rem;
  text-align: left;
 line-height: 2;
 color: #3f3f44;
 font-weight: bold;
  
}
.prog{
  
  width : 25%;
  border-radius : 100%;
  margin-left: 2rem;
  margin-top: 1rem;
  float: right;
  clear: left;
}

.web{
  
  width : 25%;
  border-radius : 100%;
  margin-right: 2rem;
  margin-top: 1rem;
  float: left;
  clear: right;
}

/*.skill_row{
  
  text-align : left;
  line-height: 2;
  margin-top: 4rem;
  padding-bottom: 20px;
  background-color: gold;
}
 */
 .middle_container h2{
   margin-bottom : 6rem;
 } 
   
.contact{
  
  text-align: center;
  margin: 5rem auto 2rem auto;;
 padding-bottom: 5px;
}

 

.button:hover{
  transform: scale(1.2);
}

.footer{
  margin-top: 1rem;
  background-color: #66BFBF;
  padding: 20px 0 1px 0;
}
.footer a{
  padding: 10px;
  text-decoration: none;
  color: #11999E;
}
.footer p{
  color: #EAF6F6;
  
}
